Repository frankhinek/test-web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: crypto, dids, web5-user-agent

another one
  codecov.yml
Due: none

update
  .github/workflows/tests-ci.yml
  codecov.yml
Due: none

Add subtract()
  packages/crypto/src/main.ts
  packages/dids/src/main.ts
  packages/web5-agent/src/main.ts
  packages/web5-proxy-agent/src/main.ts
  packages/web5-user-agent/src/main.ts
  packages/web5/src/main.ts
Due: crypto, dids, web5-user-agent

Update codecov config again
  codecov.yml
Due: none

Update codecov config
  codecov.yml
Due: none

Update c8 config
  codecov.yml
  packages/crypto/.c8rc.json
  packages/dids/.c8rc.json
  packages/web5-agent/.c8rc.json
  packages/web5-proxy-agent/.c8rc.json
  packages/web5-user-agent/.c8rc.json
  packages/web5-user-agent/tests/example.spec.ts
  packages/web5/.c8rc.json
Due: crypto, dids, web5-user-agent

Add tests
  packages/web5-proxy-agent/tests/example.spec.ts
  packages/web5/tests/example.spec.ts
Due: none

Add divide()
  packages/web5-user-agent/src/main.ts
  packages/web5-user-agent/tests/example.spec.ts
Due: web5-user-agent

Add Alpha NPM publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Update alpha publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Add common package
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  packages/common/.c8rc.json
  packages/common/.mocharc.json
  packages/common/build/bundles.js
  packages/common/build/esbuild-browser-config.cjs
  packages/common/karma.conf.cjs
  packages/common/package.json
  packages/common/src/main.ts
  packages/common/src/types.ts
  packages/common/tests/example.spec.ts
  packages/common/tsconfig.json
  packages/common/tsconfig.test.json
Due: none

Test new alpha workflow
  .github/workflows/alpha-npm.yml
  package-lock.json
  package.json
  update-dependencies.js
Due: none

Minor refactoring
  .github/workflows/alpha-npm.yml
  package.json
  scripts/update-dependencies.mjs
  update-dependencies.js
Due: none

Minor refactoring
  .github/workflows/alpha-npm.yml
  scripts/bump-workspace.mjs
Due: none

Add support for devDependencies
  .github/workflows/alpha-npm.yml
  scripts/bump-workspace.mjs
Due: none

Test again
  .github/workflows/alpha-npm.yml
  package.json
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
  scripts/bump-workspace.mjs
Due: crypto, dids, web5-user-agent

Update script to do the work
  .github/workflows/alpha-npm.yml
  scripts/bump-workspace.mjs
Due: none

Change order
  .github/workflows/alpha-npm.yml
Due: none

Try again
  .github/workflows/alpha-npm.yml
  package.json
  packages/common/package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Path conditions:
  crypto: any of: packages/crypto/**
  dids: any of: packages/crypto/**
  web5-user-agent: any of: packages/web5-user-agent/**
